# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Modèles sauvegardés (lourds)
*.pt
*.pth
*.ckpt
/tmp/

# Données générées (à régénérer)
data/frames_sample/

# Environnements virtuels
.env/
.venv/
env/
venv/
carracing_env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
wandb/
runs/
